.pinkmenu{
    width: 100%;
    background-color: #a8325a;
}

.greenmenu{
    width: 100%;
    background-color: #2a7851;
}
.pinkmenu ul, .greenmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.pinkmenu li, .greenmenu li{
    float: left;
}

.pinkmenu li a, .greenmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.pinkmenu li a:hover{
    background-color: pink;
}

.greenmenu li a:hover{
    background-color: #6f9681;
}